<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <property name="LOG_PATH" value="/Users/yatimyintlwin/Personal/Java Learning/learning-java/logging/dev"/>

    <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/app.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/app-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>7</maxHistory>
        </rollingPolicy>

        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <prettyPrint>true</prettyPrint>
            <providers>
                <timestamp><fieldName>timestamp</fieldName></timestamp>
                <logLevel><fieldName>level</fieldName></logLevel>
                <loggerName><fieldName>logger</fieldName></loggerName>
                <threadName><fieldName>thread</fieldName></threadName>
                <message><fieldName>message</fieldName></message>
                <stackTrace><fieldName>stacktrace</fieldName></stackTrace>
            </providers>
        </encoder>
    </appender>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <prettyPrint>true</prettyPrint>
            <providers>
                <timestamp><fieldName>timestamp</fieldName></timestamp>
                <logLevel><fieldName>level</fieldName></logLevel>
                <loggerName><fieldName>logger</fieldName></loggerName>
                <threadName><fieldName>thread</fieldName></threadName>
                <message><fieldName>message</fieldName></message>
                <stackTrace><fieldName>stacktrace</fieldName></stackTrace>
            </providers>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="console"/>
        <appender-ref ref="ROLLING_FILE"/>
    </root>
</configuration>
